#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

HostKey /etc/ssh/hostkeys/ssh_host_rsa_key
HostKey /etc/ssh/hostkeys/ssh_host_ecdsa_key
HostKey /etc/ssh/hostkeys/ssh_host_ed25519_key

PermitRootLogin no

PubkeyAuthentication yes

AuthorizedKeysFile	/etc/ssh/keys/%u


HostbasedAuthentication no
PasswordAuthentication no
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
*sePAM no

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
UseDNS no
PermitTunnel no

Banner none

AcceptEnv LANG LC_*

Subsystem sftp	/usr/lib/openssh/sftp-server
