(hsts) {
    header  -Strict-Transport-Security
    header  Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}

f0x.es {
	reverse_proxy web:3000
    import hsts
}

streaming.f0x.es {
	reverse_proxy streaming:4000
    import hsts
}

assets.f0x.es {
	reverse_proxy static:3131
	header Access-Control-Allow-Origin https://f0x.es
    import hsts
}

mastodon.f0x.es {
	reverse_proxy web:3000
    import hsts
}

crossposter.f0x.es {
	reverse_proxy web:3999
    import hsts
}
