f0x.es {
	reverse_proxy web:3000
}

streaming.f0x.es {
	reverse_proxy streaming:4000
}

assets.f0x.es {
	reverse_proxy static:3131
	header Access-Control-Allow-Origin https://f0x.es
}

mastodon.f0x.es {
	reverse_proxy web:3000
}

crossposter.f0x.es {
	reverse_proxy web:3999
}
