{
	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 5s
				allow 10.99.10.1/32
			}
			tls
		}
	}
}

__S3_BASE__ {
	reverse_proxy 127.0.0.1:9000
}

console.__S3_BASE__ {
	reverse_proxy 127.0.0.1:9001
}
