body {
  background-color: black;
  color: fuchsia;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2.5em;
}
a {
  color: fuchsia;
}
a span {
  vertical-align: middle;
}
a:visited {
  color: purple;
}
a:hover {
  color: white;
}

a.browse {
  text-decoration: none;
}
a.browse span.text {
  text-decoration: underline;
}
a span.icon {
  filter: invert(14%) sepia(72%) saturate(6393%) hue-rotate(297deg) brightness(123%) contrast(114%);
}
a:visited span.icon {
  filter: invert(11%) sepia(73%) saturate(7165%) hue-rotate(296deg) brightness(68%) contrast(106%);
}
a:hover span.icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

span.icon-directory {
  background-image: url(/_static/directory.svg);
}
span.icon-file {
  background-image: url(/_static/file.svg);
}

span.icon {
  background-size: contain;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.header-bottom {
  margin-bottom: 0px;
}
.header {
  border: 0.1em solid purple;
  padding: 1.5em;
  margin-bottom: 2em;
  background-color: #160016;
}
h1 {
  margin-top: 0px;
  text-align: center;
}
h1 a {
  text-decoration: none;
  color: fuchsia;
}
h1 a:visited {
  color: fuchsia;
}
h1 a:hover {
  color: white;
}

td {
  padding-top: 0.3em;
}
th {
  padding-bottom: 0.3em;
}
td a {
  width: 100%;
  display: block;
  user-select: text;
}
table {
  width: 100%;
}
th {
  text-align: left;
  border-bottom: 1px solid #500050;
}
.numeric-cell {
  text-align: right;
}
