akvorado.foxden.network {
	reverse_proxy /api/v0/inlet/* akvorado-inlet:8080
	reverse_proxy akvorado-console:8080
}

akvorado.foxden.network:8081 {
	reverse_proxy /kafka-ui/* kafka-ui:8080
	reverse_proxy /clickhouse/* clickhouse:8123 {
		uri strip_prefix /clickhouse
	}
	reverse_proxy /api/v0/orchestrator/* akvorado-orchestrator:8080
}
