{
	order webdav before file_server
}

{$SYNCTHING_DOMAIN} {
	root * /syncthing
	file_server {
		browse
		hide .stfolder
	}
	rewrite /dav /dav/
	webdav /dav/* {
		prefix /dav
	}
	basicauth {
		doridian {$WEBDAV_PASSWORD_DORIDIAN}
	}
}
