{
	order webdav before file_server

	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 5s
				allow 10.99.10.1/32
			}
			tls
		}
	}
}

__NAS_WEB_DOMAIN__ {
	root * /mnt/nas
	file_server {
		browse
	}

	forward_auth http://127.0.0.1:1042 {
		uri /
	}
}

__DAV_DOMAIN__ {
	basicauth * {
		import import/webdav.auth
	}

	webdav * {
		root /mnt/dav/{http.auth.user.id}
	}
}
