{
	order webdav before file_server

	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 5s
				allow 10.1.0.0/23
				allow 10.2.0.0/23
				allow 10.3.0.0/23
				allow 10.4.0.0/23
				allow 10.5.0.0/23
				allow 10.6.0.0/23
				allow 10.7.0.0/23
				allow 10.8.0.0/23
				allow 10.9.0.0/23
			}
			tls
		}
	}
}

__NAS_WEB_DOMAIN__ {
	handle /guest/* {
		root * /mnt/nas/guest
		file_server {
			browse
		}
	}

	route {	
		root * /mnt/nas
		file_server {
			browse
		}

		forward_auth http://127.0.0.1:1042 {
			uri /
		}
	}
}

__DAV_DOMAIN__ {
	basicauth * {
		import import/webdav.auth
	}

	webdav * {
		root /mnt/dav/{http.auth.user.id}
	}
}
